<div class="app-comp">
    <div class="background-image login">
      <div class="background-overlay"></div>
      <div class="container">
        <div class="alc">
          <header>
            <!-- JioEVA logo -->
            <div class="jioeva_logo">
              <img alt="JioEVA logo" src="../../../assets/logo.png" />
            </div>
          </header>
          <section class="signup-frm">
            <!-- Reset Password form -->
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">  
              <!-- Password input with show/hide button -->
              <mat-form-field style="width: 100%" class="flds">
                <mat-label>New Password</mat-label>
                <input type="{{ hidePassword ? 'password' : 'text' }}" matInput formControlName="password" class="flds" (cut)="$event.preventDefault()" (copy)="$event.preventDefault()" (paste)="$event.preventDefault()" required />
                  <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                  </button>
                <mat-error *ngIf="resetForm.controls['password'].touched && resetForm.controls['password'].invalid">
                  <ng-container *ngIf="resetForm.controls['password'].hasError('required')">
                    Password is required.
                  </ng-container>
                  <ng-container *ngIf="resetForm.controls['password'].hasError('pattern')">
                    <p class="password-error">Password should contain at least 8 characters, 1 uppercase letter, 1 lowercase letter, 1 number and 1
                      special character.</p>
                  </ng-container>
                </mat-error>
              </mat-form-field>
  
              <!-- Re-enter password input with validation -->
              <mat-form-field style="width: 100%">
                <mat-label>Re-enter Password</mat-label>
                <input type="password" matInput formControlName="repassword" />
                <mat-error *ngIf="resetForm.controls['repassword'].touched && resetForm.controls['repassword'].invalid">
                  Passwords do not match.
                </mat-error>
              </mat-form-field>
  
              <!-- Submit button -->
              <div class="button-container">
                <button mat-raised-button type="submit" class="custom-button" [disabled]="resetForm.invalid"
                  [ngClass]="{ 'disabled-btn': resetForm.invalid }">
                  Set Password
                </button>
              </div>
            </form>
          </section>
        </div>
        <footer class="jio-footer">
          <div class="footer-container">
            <div class="image-container">
              <img _ngcontent-xad-c1="" alt="Powered by Jio" class="center" height="25"
                src="../assets/jio-powered-by.png" />
            </div>
            <div class="links-container">
              <a class="link" target="_blank" href="https://hellojiodiag.blob.core.windows.net/eva/PrivacyPolicy.pdf">
                Privacy
              </a>
              <a class="link" target="_blank" href="https://hellojiodiag.blob.core.windows.net/eva/TnC.pdf">
                Terms &amp; Conditions
              </a>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>