.background-image.login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
  }
  
  .background-image.login:before {
    content: "";
    background-image: url("../../../assets/login-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .container {
    position: relative;
    padding: 5px;
    overflow-y: auto;
    height: 99%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
  }
  .alc {
    width: 32%;
    position: relative;
    height: auto;
    max-height: 90%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: -1%;
  }
  
  form {
    width: 100%;
  }
  ::ng-deep .password-error{
    margin-top: -25px;
  }
  input {
    caret-color: #ffb236 !important;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .custom-button {
    background-color: #fcb542 !important;
    color: white !important;
    border-radius: 50px;
    width: 90%;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 20px;
  }
  .disabled-btn {
    background-color: #e0e0e0 !important;
    color: #b1b1b1 !important;
    border-radius: 50px;
    width: 90%;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 20px;
  }
  
  .jioeva_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 20%;
    margin: 0.5rem auto;
  }
  
  .jioeva_logo img {
    max-width: 100%;
    height: auto;
  }
  
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .footer-container .link {
    color: #696868;
    font-size: 13px;
    margin-left: 1%;
    text-decoration: none;
  }
  
  .jio-footer {
    position: fixed;
    width: 100%;
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    bottom: 0;
  }
  
  .image-container {
    display: flex;
    justify-content: right;
    align-items: center;
    flex: 1;
  }
  
  .links-container {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin-right: 2%;
  }

  .error-message {
    background-color: red;
    color: white;
  }
  
  .warning-message {
    background-color: yellow;
    color: black;
  }
  
  .success-message {
    background-color: green;
    color: white;
  }
  