<body class="background-image">
  <router-outlet></router-outlet>
  <footer _ngcontent-xad-c1="" class="jio-footer">
    <div _ngcontent-xad-c1="" class="footer-container">
      <img
        _ngcontent-xad-c1=""
        alt="Powered by Jio"
        class="center"
        height="25"
        src="../assets/jio-powered-by.png"
      /><a
        _ngcontent-xad-c1=""
        class="link"
        target="_blank"
        href="https://hellojiodiag.blob.core.windows.net/eva/TnC.pdf"
      >
        Terms &amp; Conditions </a
      ><a
        _ngcontent-xad-c1=""
        class="link"
        target="_blank"
        href="https://hellojiodiag.blob.core.windows.net/eva/PrivacyPolicy.pdf"
      >
        Privacy
      </a>
    </div>
  </footer>
</body>
