<div class="app-comp">
  <div class="background-image login">
    <div class="background-overlay"></div>
    <div class="container">
      <div class="alc">
        <header>
          <!-- JioEVA logo -->
          <div class="jioeva_logo">
            <img alt="JioEVA logo" src="../../../assets/logo.png" />
          </div>
        </header>

        <section class="login-frm">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <!-- Email input -->
            <mat-form-field style="width: 99%">
              <mat-label>Email ID</mat-label>
              <input type="email" matInput formControlName="email" required />
              <mat-error
                *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
                Email is required or has an invalid format.
              </mat-error>
            </mat-form-field>

            <!-- Password input -->
            <mat-form-field style="width: 99%">
              <mat-label>Password</mat-label>
              <input type="password" matInput formControlName="password" required />
              <mat-error
                *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                Password is required.
              </mat-error>
            </mat-form-field>

            <form [formGroup]="otpForm">
              <!-- OTP input (displayed when showOTP is true) -->
              <mat-form-field style="width: 99%" *ngIf="showOTP">
                <mat-label>Unique OTP</mat-label>
                <input type="text" matInput formControlName="otp" required />
                <mat-error
                  *ngIf="otpForm.get('otp')?.invalid && (otpForm.get('otp')?.dirty || otpForm.get('otp')?.touched)">
                  OTP is required or has an invalid format.
                </mat-error>
              </mat-form-field>
            </form>

            <!-- Countdown timer -->
          <div class="timer" [ngClass]="{'red-text': isRedText && showOTP}">
            <p *ngIf="showOTP">Time Remaining: {{ displayTime }}</p>
            <p *ngIf="isRedText && showOTP">Time Over for OTP</p>
          </div>

            <!-- Remember me checkbox -->
            <div class="remember-forgot">
              <mat-checkbox formControlName="rememberMe" class="remember-checkbox" style="color: #707070"
                (change)="onRememberMeChange($event)">Remember me</mat-checkbox>
              <a class="forgot-link" routerLink="/forget">Forgot password?</a>
            </div>

            <!-- Sign In button (disables until OTP is entered) -->
            <div class="button-container">
              <button mat-raised-button type="submit" class="custom-button"
                [disabled]="!showOTP && (!loginForm.valid || otpForm.get('otp')?.invalid) || isButtonDisabled"
                [ngClass]="{ 'disabled-btn': !showOTP && (loginForm.invalid || otpForm.get('otp')?.invalid) || isButtonDisabled }">
                <span *ngIf="isButtonDisabled">
                  <mat-spinner diameter="24" color="#ffff" class="load-spin"></mat-spinner>
                </span>
                <span *ngIf="!isButtonDisabled">{{ showOTP ? 'Verify OTP' : 'Sign In' }}</span>
              </button>
            </div>
          </form>

          <!-- Display error message -->
          <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

          <div class="nu">
            <label>New User?</label> &nbsp;<a class="link" routerLink="/signup">Sign Up</a>
          </div>
        </section>
      </div>
      <footer class="jio-footer">
        <div class="footer-container">
          <div class="image-container">
            <img _ngcontent-xad-c1="" alt="Powered by Jio" class="center" height="25"
              src="../assets/jio-powered-by.png" />
          </div>
          <div class="links-container">
            <a class="link" target="_blank" href="https://hellojiodiag.blob.core.windows.net/eva/PrivacyPolicy.pdf">
              Privacy
            </a>
            <a class="link" target="_blank" href="https://hellojiodiag.blob.core.windows.net/eva/TnC.pdf">
              Terms &amp; Conditions
            </a>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>