.background-image.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.background-image.login:before {
  content: "";
  background-image: url("../../../assets/login-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container {
  position: relative;
  padding: 10px;
  overflow-y: auto;
  height: 99%;
}
.alc {
  width: 27%;
  position: relative;
  height: auto;
  max-height: 90%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: auto;
  margin-left: 50%;
  margin-top: 5%;
}

.jioeva_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 35%;
  margin: 0.5rem auto;
}

.jioeva_logo img {
  max-width: 100%;
  height: auto;
}

form {
  display: block;
  margin-top: 0em;
}
.login-frm{
  padding: 5px;
}
.remember-forgot {
  display: flex;
  align-items: center;
  color: #707070;
}

.remember-checkbox {
  margin-right: 50px;
  margin-left: 0%;
  display: flex;
  align-items: center;
  color: #707070 !important;
}

.forgot-link {
  padding-left: 10%;
  color: #707070;
  text-decoration: none;
  font-size: 14px;
}

.mat-mdc-form-field-focus-overlay {
  background-color: white;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: white;
}

.nu {
  margin: 10% 0;
  justify-content: center;
}
.nu {
  display: flex;
  font-size: 0.8em;
  color: #707070;
}

.nu {
  margin-right: 10px;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.link {
  color: #ffad29;
}
a {
  text-decoration: none;
  background-color: transparent;
}

.authenticate-layout-container {
  position: relative;
  min-height: 100vh;
}

.button-container {
  display: flex;
  justify-content: center;
}

.custom-button {
  background-color: #fcb542 !important;
  color: white !important;
  border-radius: 50px;
  width: 65%;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 20px;
}
.disabled-btn {
  background-color: #e0e0e0 !important;
  color: #b1b1b1 !important;
  border-radius: 50px;
  width: 65%;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 20px;
}

.red-text {
  color: red !important;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer-container .link {
  color: #696868;
  font-size: 13px;
  margin-left: 1%;
  text-decoration: none;
}

.jio-footer {
  position: fixed;
  width: 100%;
  background-color: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  bottom: 0;
}

.image-container {
  display: flex;
  justify-content: right;
  align-items: center;
  flex: 1;
}

.links-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-right: 2%;
}

.timer{
  color: #707070;
  font-size: 14px;
}

::ng-deep .messageType .error-message {
  background-color: red;
  color: white;
}

::ng-deep .messageType .warning-message {
  background-color: rgb(255, 196, 0);
  color: black;
}

::ng-deep .messageType .success-message {
  background-color: green;
  color: white;
}
