<div class="app-comp">
  <div class="background-image login">
    <div class="background-overlay"></div>
    <div class="container">
      <div class="alc">
        <header>
          <!-- JioEVA logo -->
          <div class="jioeva_logo">
            <img alt="JioEVA logo" src="../../../assets/logo.png" />
          </div>
        </header>

        <h3 class="forgot-password-heading">Forgot Password</h3>

        <p class="forgot-password-description">
          To reset your password, please enter your email ID below. A confirmation link will be sent to your email ID
          for verification. Click the attached link in your mail to confirm the password reset process.
        </p>

        <div class="gap"></div>

        <p class="enter-email-text">Enter your registered email ID:</p>

        <form [formGroup]="forgetpasswordForm" (ngSubmit)="onSubmit()">
          <div class="email-input-container">
            <input type="email" matInput formControlName="email" required class="email-input"
              (input)="validateEmail()" />
            <button mat-raised-button class="send-button" [disabled]="!forgetpasswordForm.get('email')?.valid"
              [ngClass]="{ 'disabled-btn': forgetpasswordForm.invalid }">Send</button>
          </div>
        </form>
        <mat-error class="frgt-pss-err"
          *ngIf="forgetpasswordForm.get('email')?.touched && forgetpasswordForm.get('email')?.errors?.['required']">
          Email is required.
        </mat-error>
        <mat-error class="frgt-pss-err"
          *ngIf="forgetpasswordForm.get('email')?.touched && forgetpasswordForm.get('email')?.errors?.['invalidEmail']">
          Invalid email format.
        </mat-error>
      </div>
      <footer class="jio-footer">
        <div class="footer-container">
          <div class="image-container">
            <img _ngcontent-xad-c1="" alt="Powered by Jio" class="center" height="25"
              src="../assets/jio-powered-by.png" />
          </div>
          <div class="links-container">
            <a class="link" target="_blank" href="https://hellojiodiag.blob.core.windows.net/eva/PrivacyPolicy.pdf">
              Privacy
            </a>
            <a class="link" target="_blank" href="https://hellojiodiag.blob.core.windows.net/eva/TnC.pdf">
              Terms &amp; Conditions
            </a>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>