html,body{
    position:relative;
    margin: 0px !important;
    padding: 0px !important;
}
.no-class{
    height: 100%;
    margin:0;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent;
}

.mat-mdc-form-field-focus-overlay {
    background-color: transparent;
}

